:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-button-disabled: #C4C4C4;
    --color-button-add: #FCBD21;
    --color-button-add-hover: #ecb528;
    --color-text: #444444;
    --color-white: #FFFFFF;
    --color-alert-info: #4B69FD;
    --color-alert-error: #F23005;
    --color-alert-sucess: #3D8C27;
    --color-alert-warning: #F29F05;
    --color-border: #000;
    --color-name-list: #4169e1;
    --color-name-list-hover: #405fbd;
    --color-box-shadow: #0000004d;
    --color-remove-list: #D91122;
    --color-remove-list-hover: #b31824;
    --color-remove-list-disabled: #C4C4C4;
    --color-button-confirm: #3D8C27;
    --color-button-confirm-hover: #2e6320;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

.header-banner img {
    width: 100%;
    max-width: 450px;
}

.header-banner h1 {
    text-align: right;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-border);
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    border-bottom: none;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

.section-title-result {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-white);
    margin: 10px 0;
    text-align: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-border);
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    justify-content: center;
    display: flex;
    gap: 20px;
    min-width: 600px;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px var(--color-box-shadow);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid var(--color-border);
    border-radius: 25px;
    box-shadow: 0 4px 8px var(--color-box-shadow);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-button-add);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: var(--color-button-add-hover);
}

.button-add:disabled {
    background-color: var(--color-button-disabled);
    cursor: not-allowed;
}

/*Listas*/
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.name-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 180px;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
    max-width: 800px;
    overflow-x: auto;
    justify-content: center;
}

.name-list button {
    border: none;          
    background: none;      
    color: white;          
    font-size: 12px;      
    padding: 3px 8px;      
    cursor: pointer;    
    font-weight: bold;    
    display: inline-block; 
    text-align: center;    
    box-shadow: none;
    justify-content: center;
}

.name-list button:hover {
    color: red;
    background-color: #ffdddd; 
}

.name-list button:focus {
    outline: none;
}

/*Lista de nomes barra de rolagem*/
.name-list::-webkit-scrollbar {
    width: 5px;
  }
  
.name-list::-webkit-scrollbar-track {
    background: none;
  }
  
 .name-list::-webkit-scrollbar-thumb {
    background-color: var(--color-button);
    border-radius: 20px;
    border: 1px solid var(--color-border);
  }

.name-list li {
    align-items: center;
    justify-content: center;
    width: auto;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: var(--color-name-list); 
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px solid var(--color-border);
    box-shadow: 2px 2px 5px var(--color-box-shadow);
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.name-list li:hover{
    background-color: var(--color-name-list-hover);
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
    max-width: 34px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.button-draw:disabled {
    background-color: var(--color-button-disabled);
    cursor: not-allowed;
}

/* Botão de sortear título */
.remove-all-list {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-remove-list);
    font-size: 16px;
}

.remove-all-list img {
    margin-right: 40px;
    max-width: 34px;
}

.remove-all-list:hover {
    background-color: var(--color-remove-list-hover);
}

.remove-all-list:disabled {
    background-color: var(--color-remove-list-disabled);
    cursor: not-allowed;
}

/*Rodapé*/
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: gray;
    background-color: var(--color-secondary);
    padding: 5px 0;
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
}

footer a {
    color: var(--color-button);
    text-decoration: underline;
}

/* Toastify - Alerts */
.toastify.info {
    background: var(--color-alert-info);
    color: white;
}

.toastify.error {
    background: var(--color-alert-error);
    color: white;
}

.toastify.success {
    background: var(--color-alert-sucess);
    color: white;
}

.toastify.warning {
    background: var(--color-alert-warning);
    color: white;
}

/*Icone de Som*/
.sound-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
    box-shadow: none;
}

.sound-button img {
    width: 30px;
    height: 30px;
}

/* Estilos para o container de cards */
.card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center;
    padding: 20px;
    width: 100%;
    padding:  30px 100px;   
}

/* Estilos para cada card */
.card {
    background-color: var(--color-secondary);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(10% - 20px);
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-grow: 1;
    border: 2px solid var(--color-border);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card.copied {
    background-color: var(--color-alert-sucess);
    color: white;
    
}

.card.copied h3{
    color: white;
}

.card.copied:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Estilos para o título do card */
.card h3 {
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-bottom: 15px;
}

/* Estilos para o QR Code */
.qr-code {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Para smartphone*/
@media only screen and (max-width: 1400px) {
    .card {
        width: 100%;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap; 
        gap: 20px;
        justify-content: center;
        padding: 20px;
        width: 100%;
        padding:  none;   
    }
}

@media only screen and (max-width: 800px) {
        
    .main-title {
        font-size: 36px;
    }

    .input-wrapper {
        font-size: 14px;
        flex-direction: column;
    }

    .input-title {
        border-radius: 25px;
    }

    .input-name {
        border-radius: 25px;
        font-size: 14px;
    }

    .result-list {
        font-size: 18px;
    }

    .header-banner img {
        padding: 20px 5px 5px;
        width: 50%;
        max-width: 450px;   
    }

    .header-banner h1 {
        font-size: 36px; 
    }

    .button-container {
        justify-content: center;
        display: block;
        min-width: auto;
        max-width: 300px;
    }

    .button-add {
        padding: 10px 40px;
        border-radius: 25px;
    }

    /* Botão de sortear título */
    .button-draw {
        min-width:  318px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 40px;
        color: var(--color-white);
        background-color: var(--color-button);
        font-size: 16px;
    }

    .button-draw img {
        width: 20px;
        height: 20px;
    }

    .remove-all-list{
        min-width:  318px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 40px;
        color: var(--color-white);
        background-color: var(--color-remove-list);
        font-size: 16px;
    }
    
    .remove-all-list img {
        width: 20px;
        height: 20px;
    }
}

.result-title {
    font-size: 24px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 20px;
    text-align: center;
}

.result-element {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: var(--color-text);
    text-align: center;
    margin-top: 10px;
}

.pairs-container {
    margin-top: 20px;    
}

.pairs-container-list{
    font-family: "Inter", sans-serif;
    font-size: 50px;
    color: var(--color-button-hover);
    text-align: center;
    
}

.pair {
    padding: 10px;
    font-size: 30px;
}

.pair p {
    margin: 0;
    font-size: 16px;
    color: var(--color-white);
}

/* Modal */
.swal2-popup {
    background-color: var(--color-secondary); 
    color: var(--color-text);
    border-radius: 25px;
    border: 2px solid var(--color-border);
    box-shadow: 0 4px 8px var(--color-box-shadow);
}

.swal2-title {
    color: var(--color-primary);
    font-family: "Merriweather", serif;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
}

.swal2-content {
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.swal2-confirm {
    background-color: var(--color-button-confirm);
    color: var(--color-white);
    border-radius: 25px;
    border: 2px solid var(--color-border);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px var(--color-box-shadow);
}

.swal2-confirm:hover {
    background-color: var(--color-button-confirm-hover);
}

.swal2-cancel {
    background-color: var(--color-remove-list);
    color: var(--color-white);
    border-radius: 25px;
    border: 2px solid var(--color-border);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px var(--color-box-shadow);
}

.swal2-cancel:hover {
    background-color: var(--color-remove-list-hover);
}

.swal2-success {
    color: var(--color-alert-sucess);
}

.swal2-error {
    color: var(--color-alert-error);
}

.swal2-warning {
    color: var(--color-alert-warning);
}

.swal2-info {
    color: var(--color-alert-info);
}

.swal2-input {
    border: 2px solid var(--color-border);
    border-radius: 25px;
    font-family: "Merriweather", serif;
    font-size: 16px;
    padding: 10px;
    box-shadow: 0 4px 8px var(--color-box-shadow);
}

.swal2-input:focus {
    border-color: var(--color-primary);
}